---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1;
    font-family: 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', sans-serif !important;
  }

  a {
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
    font-family: 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体' Arial,
      sans-serif !important;
    font-weight: 500;
    line-height: 1;
    color: inherit;
  }
</style>
